[Unit]
Description=Jenkins Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull sath89/jenkins
ExecStartPre=-/bin/mkdir -p /data/jenkins && chown 505:505 /data/jenkins
ExecStartPre=-/usr/bin/docker rm jenkins
ExecStart=/usr/bin/docker run -v /data/jenkins:/opt/jenkins/jenkins_home --rm --name jenkins --hostname="jenkins.domain.com" --dns=172.17.42.1 --dns-search=domain.com -p 8080:8080 -p 50000:50000 --privileged=true sath89/jenkins
ExecStop=/usr/bin/docker stop jenkins
